
body {
  margin:0;
  padding:0;
  background-color: white;
  font-family: 'PT Serif', georgia, serif;
  color: #222;
}

.login-box{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
}


.btn{
  width: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
}

.main-heading {
  font-family: 'Ubuntu', impact, sans-serif;
  font-size: 4em;
  background-color: #455A64;
  color: #fff;
  line-height: 5;
  text-align: center;
  text-shadow: 1px 1px 0px black;
}


.loginbutton{
  font-family: 'Ubuntu', impact, sans-serif;
  background-color: #EEEEEE;
  border: none;
  color: #37474F;
  padding: 15px 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;


}

.signupbutton{
  font-family: 'Ubuntu', impact, sans-serif;
  background-color: #EEEEEE;
  border: none;
  color: #37474F;
  padding: 15px 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
.signuploginbutton{
  display:grid;
  grid-template-columns: 50% 50%;
}

}
