body {
  margin:0;
  padding:0;
  background-color: #455A64;
  font-family: 'PT Serif', georgia, serif;
  color: #222;
}

.logo{
  width: 100%;
  background-color: #455A64;
  text-align: center;
  height:150px;
  font-size: 50px;
  color: white;
  padding-top: 45px;
  font-family: 'PT Serif', georgia, serif;
}

/*CSS About the tabs stops starts*/
.dropbtn{
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width:100%;
  text-align:left;
  margin-top:10px;
}

.dropbtn:hover, .dropbtn:focus{
  background-color: #2980B9;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/*CSS About the tabs stops here*/

.middle_bar{
  text-align:center;
  background-color: white;



}
